---
layout: base
---

<section class="cell half-cell main-page-cell">
  <h2>Projects</h2>
  <ul class="projects">
  <li class="project"><a href="http://brunch.io/">Brunch</a> — HTML5 application assembler.</li>
  <li class="project"><a href="http://chaplinjs.org/">Chaplin</a> — HTML5 application architecture using Backbone.js.</li>
  <li class="project"><a href="http://ost.io/">Ost.io</a> — forum for GitHub projects and a modern replacement for mailing lists.</li>
  <li class="project"><a href="https://github.com/paulmillr/es6-shim/">es6-shim</a> — ECMAScript 6 shims for old browsers.</li>
  <li class="project"><a href="https://github.com/paulrouget/firefox-jsterm">Firefox terminal</a> — decent console with first-class support for CoffeeScript and LiveScript.</li>

  <li class="project new-project-type"><a href="https://github.com/paulmillr/code-style-guides/">Code style guides</a> — idiomatic and widely-used guides for various programming languages.</li>

  <li class="project new-project-type"><a href="https://github.com/paulmillr/lastfm-tools/">Last.FM Tools</a> — Last.FM data miner and analyzer.</li>
  <li class="project"><a href="https://github.com/paulmillr/chokidar">Chokidar</a> — no-bullshit file watcher for node.js.</li>
  <li class="project"><a href="https://github.com/paulmillr/scaffolt">Scaffolt</a> — dead-simple JSON-based scaffolder.</li>

  <li class="project new-project-type"><a href="http://git.io/top">GitHub top users</a> — frequently updated stats of top users on GitHub.</li>
  <li class="project"><a href="https://github.com/paulmillr/dotfiles">Dotfiles</a> — colourful and robust OS X configuration files and utilities.</li>
  <li class="project"><a href="/chieftain/">Chieftain</a> — new generation imageboard.</li>
  <li class="project"><a href="https://github.com/paulmillr/LiveScript.tmbundle">LiveScript</a> &amp; <a href="https://github.com/paulmillr/roy.tmbundle">Roy</a> bundles for Sublime Text / TM2.</li>
  <li class="project"><a href="https://github.com/paulmillr?tab=repositories">Everything else</a></li>
</ul>
</section>
<section class="cell half-cell main-page-cell">
  <h2>Posts</h2>
  <h3>Programming</h3>
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.tags contains 'programming' %}
        <li>
          <span class="post-date">{{ post.date | date: "%d %b %y" }} »</span>
          {% if post.language == 'ru' %}<span class="russian">(in russian)</span>{% endif %}
          <a href="{% if post.external_link != null %}{{ post.external_link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <h3><a href="http://en.wikipedia.org/wiki/Libertarianism">Libertarianism</a> &amp; <a href="http://en.wikipedia.org/wiki/Anarcho-capitalism">anarcho-capitalism</a></h3>
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.tags contains 'libertarianism' and post.language != 'ru' %}
        <li>
          <span class="post-date">{{ post.date | date: "%d %b %y" }} »</span>
          <a href="{% if post.external_link != null %}{{ post.external_link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>
          {% if post.translation-id %}
            {% for subpost in site.posts %}
              {% if subpost.translation-id == post.translation-id and subpost.id != post.id %}
                (in russian: <a href="{{ subpost.url }}">{{ subpost.title }}</a>)
              {% endif %}
            {% endfor %}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
