---
layout: base
---

<section class="cell">
  <h2>Projects</h2>
  <section class="projects">
    <p>
      <ul>
        <li class="project"><a href="http://brunch.io/">Brunch</a> — a lightweight approach to building HTML5 applications with emphasis on elegance and simplicity.</li>
        <li class="project"><a href="http://chaplinjs.org/">Chaplin</a> — web application framework on top of Backbone.js.</li>
        <li class="project"><a href="http://ost.io/">Ost.io</a> — forum for GitHub projects and a modern replacement for mailing lists.</li>
        <li class="project"><a href="https://github.com/paulmillr/es6-shim/">ECMAScript 6 (Harmony) shim</a> — ES6 features in ES5 browsers.</li>
        <li class="project"><a href="https://github.com/paulmillr/lastfm_tools/">Last.FM Tools</a> — Last.FM backuper, helper and data analyzer.</li>
        <li class="project"><a href="https://github.com/paulmillr/chokidar">Chokidar</a> &amp; <a href="https://github.com/paulmillr/argumentum/">Argumentum</a> — a no-bullshit file watcher &amp; option parser for node.js.</li>
        <li class="project"><a href="https://github.com/paulmillr/dotfiles">Dotfiles</a> — colourful and robust OS X configuration files and utilities.</li>
        <li class="project"><a href="/chieftain/">Chieftain</a> — new generation imageboard.</li>
        <!--<li class="project">TextMate / Chocolat / Sublime Text bundles: <a href="https://github.com/paulmillr/LiveScript.tmbundle">LiveScript</a>, <a href="https://github.com/paulmillr/roy.tmbundle">Roy</a>.</li>-->
        <li class="project"><a href="https://github.com/paulmillr/code-style-guides/">Code style guides</a>, <a href="https://gist.github.com/2657075">GitHub top-1000</a> and <a href="https://github.com/paulmillr">others</a>.</li>
      </ul>
    </p>
  </section>
</section>
<section class="cell">
  <h2>Recent posts <small><a href="https://github.com/paulmillr/paulmillr.github.com">(feed)</a></small></h2>
  <h3>Programming</h3>
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.tags contains 'programming' %}
        <li>
          {{ post.date | date: "%d %b %y" }} »
          <a href="{% if post.external_link != null %}{{ post.external_link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <h3><a href="http://en.wikipedia.org/wiki/Libertarianism">Libertarianism</a> &amp; <a href="http://en.wikipedia.org/wiki/Anarcho-capitalism">anarcho-capitalism</a></h3>
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.tags contains 'libertarianism' and post.language != 'ru' %}
        <li>
          {{ post.date | date: "%d %b %y" }} »
          <a href="{% if post.external_link != null %}{{ post.external_link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>
          {% if post.translation-id %}
            {% for subpost in site.posts %}
              {% if subpost.translation-id == post.translation-id and subpost.id != post.id %}
                (in russian: <a href="{{ subpost.url }}">{{ subpost.title }}</a>)
              {% endif %}
            {% endfor %}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
