---
layout: base
---

<section class="cell half-cell main-page-cell">
  <h2>Projects</h2>
  <ul class="projects">
  <li class="project"><a href="http://brunch.io/">Brunch</a> — a lightweight approach to building HTML5 applications with emphasis on elegance and simplicity.</li>
  <li class="project"><a href="http://chaplinjs.org/">Chaplin</a> — web application framework on top of Backbone.js.</li>
  <li class="project"><a href="http://ost.io/">Ost.io</a> — forum for GitHub projects and a modern replacement for mailing lists.</li>
  <li class="project"><a href="https://github.com/paulmillr/es6-shim/">ECMAScript 6 (Harmony) shim</a> — ES6 features in ES5 browsers.</li>
  <li class="project"><a href="https://github.com/paulmillr/firefox-jsterm">Firefox-jsterm</a> — a fork of a decent Firefox terminal that allows using CoffeeScript and LiveScript as scripting languages.</li>

  <li class="project"><a href="https://github.com/paulmillr/code-style-guides/">Code style guides</a> — a set of idiomatic and widely-used code style guides for various programming languages.</li>

  <li class="project"><a href="https://github.com/paulmillr/lastfm-tools/">Last.FM Tools</a> — Last.FM backuper, helper and data analyzer.</li>
  <li class="project"><a href="https://github.com/paulmillr/chokidar">Chokidar</a> — a no-bullshit file watcher for node.js.</li>

  <li class="project"><a href="http://git.io/top">GitHub top-1000</a> — regularly updated statistics of top users on GitHub by contributions.</li>
  <li class="project"><a href="https://github.com/paulmillr/dotfiles">Dotfiles</a> — colourful and robust OS X configuration files and utilities.</li>
  <li class="project"><a href="/chieftain/">Chieftain</a> — new generation imageboard.</li>
  <li class="project">TextMate / Chocolat / Sublime Text bundles (<a href="https://github.com/paulmillr/LiveScript.tmbundle">LiveScript</a>, <a href="https://github.com/paulmillr/roy.tmbundle">Roy</a>) and <a href="https://github.com/paulmillr?tab=repositories">others</a>.</li>
</ul>
</section>
<section class="cell half-cell main-page-cell">
  <h2>Posts</h2>
  <h3>Programming</h3>
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.tags contains 'programming' %}
        <li>
          {{ post.date | date: "%d %b %y" }} »
          <a href="{% if post.external_link != null %}{{ post.external_link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <h3><a href="http://en.wikipedia.org/wiki/Libertarianism">Libertarianism</a> &amp; <a href="http://en.wikipedia.org/wiki/Anarcho-capitalism">anarcho-capitalism</a></h3>
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.tags contains 'libertarianism' and post.language != 'ru' %}
        <li>
          {{ post.date | date: "%d %b %y" }} »
          <a href="{% if post.external_link != null %}{{ post.external_link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a>
          {% if post.translation-id %}
            {% for subpost in site.posts %}
              {% if subpost.translation-id == post.translation-id and subpost.id != post.id %}
                (in russian: <a href="{{ subpost.url }}">{{ subpost.title }}</a>)
              {% endif %}
            {% endfor %}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
