::-moz-selection {
  background: #f14a29;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #f14a29;
  color: #fff;
  text-shadow: none; }

body {
  font-family: 'Iowan Old Style', Palatino, "Palatino Linotype", Helvetica, serif;
  margin-top: 1em;
  color: #000;
  background-color: #d9d9d9; }

#container {
  width: 1000px;
  margin: 0 auto; }

/* Tag styles. */

a, a:visited {
  text-decoration: none;
  color: #0092bf; }

a:hover {
  text-decoration: underline; }

blockquote {
  border-left: 4px solid #ddd;
  padding: 0 15px;
  color: #777;
  margin: 0; }

code {
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.1); }

pre {
  font-size: 13px;
  overflow: scroll;
  padding: 15px;
  color: #fff;
  background: #000; }

footer {
  text-align: center; }
  footer p {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 13px;
    font-weight: 100;
    color: #333; }

h1, h2 {
  line-height: normal; }
  h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited {
    color: inherit; }
  h1 {
    font-size: 3em; }
  h2 {
    font-size: 2.8em;
    margin: 0 0 26px 0; }
  h1 small {
    font-size: 0.7em; }
  .cell h2 {
    color: #f14a29; }
  .post-content h2 {
    font-size: 1.3em; }

header > .cell > p {
  margin: 0; }
.header-links {
  float: right; }
.header-link {
  float: left;
  padding-left: 5px; }
  .header-link-image {
    width: 32px; }

.author-photo {
  height: 150px;
  float: left;
  margin-right: 10px; }

.page-title {
  clear: both;
  margin: 0 10px 10px 0;
  padding: 40px 30px 30px 30px;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #0092bf; }
#container > header, #container > #main {
  margin-right: -10px; }

.cell {
  font-size: 18px;
  float: left;
  width: 940px;
  margin: 0 10px 10px 0;
  padding: 30px;
  line-height: 26px;
  background-color: #f7f7f7; }
  .half-cell {
    width: 435px;
    height: 735px; }
  .cell a, .cell a:visited, .cell h1 {
    color: #f60; }

.projects {
  padding-left: 20px; }

/* Post styles. */
.post-list, .post-list > li {
  padding-left: 0;
  list-style: none; }

.post-date {
  color: #888; }

.post-content img {
  max-width: 930px; }

.page-links {
  min-height: 64px; }
  .hackernews-info {
    position: absolute;
    margin-right: 100px; }

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1000px) {
  #container {
    width: auto;
    margin: 0 10px; }
    #container > header, #container > #main {
      margin-right: 0; }
    header > .cell {
      margin-top: 10px; }
  .page-title {
    margin: 0 0 10px 0; }
  .header-links {
    float: none;
    padding-bottom: 10px; }
  .cell, .cell.nopadding {
    float: none;
    width: auto;
    height: auto;
    margin-right: 0; }
  .post-content img {
    max-width: 100%; }
  .talk-wrap {
    max-width: 650px; }
}

