<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ site.title }}{% if page.title != null %}&nbsp;&mdash; {{ page.title }}{% endif %}</title>
  <meta name="description" content="Paul Miller, entrepreneur">
  <meta name="author" content="Paul Miller">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/stylesheets/normalize-2.1.0.min.css">
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <script src="/assets/javascripts/vendor/respond.min.js"></script>
  <script src="/assets/javascripts/vendor/preload.js"></script>
</head>
<body>
  <div id="container">
    <header class="clearfix" itemprop="person" itemscope>
      <h1 class="page-title">
        <a class="name" href="/" itemprop="name">Paul Miller</a>
        <a href="https://plus.google.com/photos/104268979289869409607/albums/5891516837289985217/5891516838810255090?pid=5891516838810255090&amp;oid=104268979289869409607" class="author-photo">
          <img src="https://secure.gravatar.com/avatar/d342e4ef045c54a6a6f41d070d8a0406?size=300" width="150" height="150" alt="avatar">
        </a>
      </h1>
      <section class="cell header-cell">
        <p>
          Hey, my name is Paul.
          I make projects which help developers to build awesome things.
          I also do consulting and give talks about making better software.
          Sometimes I write essays on
          <a href="http://en.wikipedia.org/wiki/Anarcho-capitalism">anarcho-capitalism</a>
          theory, because I love freedom and stuff.
        </p>
        <p>
          You can ping me on
          <a href="http://twitter.com/paulmillr">twitter</a>
          or send me
          <a href="mailto:&#112;&#97;&#117;&#108;&#43;&#115;&#105;&#116;&#101;&#64;&#112;&#97;&#117;&#108;&#109;&#105;&#108;&#108;&#114;&#46;&#99;&#111;&#109;">an email</a> (<a href="/pubkey.txt">PGP</a>).
        </p>

        <div class="header-links clearfix">
          <a class="header-link" href="http://twitter.com/paulmillr" itemprop="url">
            <img class="header-link-image" src="/assets/images/twitter.png" alt="Twitter" width="32" height="32" />
          </a>
          <a class="header-link" href="https://github.com/paulmillr" itemprop="url">
            <img class="header-link-image" src="/assets/images/github.png" alt="Github" width="32" height="32" />
          </a>
          <a class="header-link" href="https://plus.google.com/104268979289869409607?rel=author" itemprop="url">
            <img class="header-link-image" src="/assets/images/google-plus.png" alt="Gplus" width="32" height="32" />
          </a>
        </div>
      </section>
    </header>
    <div id="main" role="main">
      {{ content }}
    </div>
    <footer>
      <p id="license">
        All content here is in <a href="http://creativecommons.org/publicdomain/zero/1.0/">public domain</a>. An attribution would be nice though.
      </p>
    </footer>
  </div>
  <!--
  <p id="design-copyright">Visual design of this page is taken from <a href="http://www.w3.org/html/logo/">html5 logo presentation</a> under <a href="http://creativecommons.org/licenses/by/3.0/">CC-BY</a>.</p>
  -->
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4f163154cb25bc723500000c');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
  <script>
  var addEmojis = function() {
    if (!window.HTMLCanvasElement) return;

    var node = document.createElement('canvas');
    var ctx = node.getContext('2d');

    ctx.textBaseline = 'top';
    ctx.font = '32px Arial';
    ctx.fillText('\ud83d\ude03', 0, 0); // "smiling face with open mouth" emoji
    var emojiSupported = ctx.getImageData(16, 16, 1, 1).data[0] !== 0;
    if (!emojiSupported) return;

    var russianFlag = decodeURIComponent('%F0%9F%87%B7%F0%9F%87%BA');

    [].slice.call(document.querySelectorAll('.in-russian'))
      .forEach(function(_) {
        _.textContent = russianFlag;
      });
  };
  try {addEmojis();} catch(error) {}
  </script>
</body>
</html>
